
<div class="card">
    <div class="card-header">
      <h4>Your Leaves</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Leave ID</th>
            <th>Leave Date</th>
            <th>Leave Purpose</th>
            <th>Employee Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let leave of leaves; let index = index">
            
            <td>{{leave['leaveId']}}</td>
            <td>{{leave['leaveDate']}}</td>
            <td>{{leave['leavePurpose']}}</td>
           <td>{{employee['empName']}}</td>
            <td><button>{{leave['leaveStatus']}}</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>