
<div class="card">
    <div class="card-header">
      <h4>Meeting Details</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Meeting ID</th>
            <th>Meeting Info</th>
            <th>Meeting DateTime</th>
            <th>Meeting Status</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let meeting of meetings; let index = index">
            
            <td>{{meeting['meetingId']}}</td>
            <td>{{meeting['meetingInfo']}}</td>
            <td>{{meeting['meetingDate']}}</td>
           
            <td>{{meeting['meetingStatus']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>