<div class="row" style="margin-top: 50px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form">
        <div class="form-group">
            <label for="">Name</label>
            <input [(ngModel)]="name" type="text" class="form-control">
        </div>
         
        <div class="form-group">
          <label for="">Email</label>
          <input [(ngModel)]="email" type="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Phone</label>
          <input [(ngModel)]="phone" type="tel" class="form-control">
        </div>
        <div class="form-group">
          <button (click)="onUpload()" class="btn btn-success">Upload</button>
         
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>