
<div class="card">
    <div class="card-header">
      <h4>Queries Details</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let query of queries; let index = index">
           
            <td>{{query['qId']}}</td>
            <td>{{query['queryTitle']}}</td>
            <td>{{query['queryDesc']}}</td>
           
            <td>{{query['queryStatus']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>