<div>
    <ul class="navbar-nav mr-auto">
        <li><a routerLink="/home/employee/edit">Edit Profile</a></li>
        <li><a routerLink="/home/employee/meetings">Meetings</a></li>
        <li><a routerLink="/home/employee/queries">Queries</a></li>
        <li><a routerLink="/home/employee/leaves">Leaves</a></li>
        
    </ul>
    <button routerLink="/home/employee/login" class="btn btn-success">Login</button>
    <button (click)="onLogout()" class="btn btn-danger">Logout</button>
</div>

<div class="container" style="margin-top: 20px;">
    <router-outlet></router-outlet>
</div> 