<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a routerLink="" class="nav-link">About</a></li>
        <li class="nav-item"><a routerLink="" class="nav-link">Contact</a></li>
        <li class="nav-item"><a routerLink="" class="nav-link">Login</a></li>
        <li class="nav-item"><a class="nav-link">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div>
      <h2>Go to employee portal</h2>
      <a class="btn btn-link" routerLink="/home/employee/login" class="nav-link">Employee Portal</a>
    </div>
  <div class="container" style="margin-top: 20px;">
    <router-outlet></router-outlet>
  </div>